///
/// Hypothesis by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Links */

ul.links {
  list-style: none;
  padding-left: 0;

  li {
    @include icon;
    margin-top: 1rem;
    position: relative;
    padding-left: 1rem;

    &:before {
      content: '\f105';
      position: absolute;
      top: 0;
      left: 0;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}
