.team-lead-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 85vw;
    padding: 3em 0;
}
.team-lead-card {
    width: 15em;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    text-align: center;
    margin: 1em;
    border-radius: 10px;
}
.team-lead-card img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.team-lead-name {
    font-weight: 600;
    margin-bottom: .5em;
}
.team-lead-text {
    margin-bottom: .5em;
}
.flex-container {
    display: flex;
    justify-content: center;
}
.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form-li {
    width: 100%;
    text-align: center;
}
.form-button {
    width: 50%;
    margin-bottom: 2rem;
}
.form-error {
    border: 1px solid #c5050c!important;
}
.success-message {
    background-color: #4BB543;
}
.failure-message {
    background-color: #c5050c;
}
.alert {
    margin-top: 1em;
    display: flex;
    padding: .8em!important;
    border-radius: .5em;
}
.status-close img {
    width: 10%;
}
.status-close img:hover {
    cursor: pointer;
}
.status-close {
    text-align: right;
}
.status-content {
    font-weight: 400;
}
#contact-form {
    justify-content: center;
}
.goals-container {
    background-color: #ffffff;
    padding: 3em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.goal {
    margin: 1em;
    text-align: center;
    flex: 1;
    min-width: 300px;
    max-width: 90vw;
}
.check-error {
    border: 1px solid #c5050c!important;
    border-radius: .5em;
}
.team-checkboxes {
    padding-left: 1rem;
    padding-top: 1rem;
}
.media-left {
    /* height: 500px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.media-right {
    /* height: 500px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 1280px) {
    .media-inner {
        width: unset!important;
        max-width: 100vw!important;
        margin: auto;
    }
}
@media screen and (min-width: 1280px) {
    .media-inner {
        margin: auto;
        width: unset!important;
        max-width: 90vw!important;
    }
}

.news-piece img, .news-piece video{
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    max-height: 450px;
    object-fit: cover;
}
@media screen and (max-width: 1280px) {
    .news-piece {
        text-align:left;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
        width: 100%;
        border-radius: 10px;
        margin-bottom: 2rem;
        background-color: white;
    }
    .twitter-timeline {
        width: 600px;
    }
}
@media screen and (min-width: 1280px) {
    .news-piece {
        text-align:left;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
        width: 100%;
        border-radius: 10px;
        max-width: calc(100% - 10rem);
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
    }
    .twitter-timeline {
        width: 600px;
    }
}
.news-piece h3 {
    margin-bottom: 0;
    align-self: center;
}
.news-piece .content {
    padding: 1.5em;
}
.content p {
    margin: 0 0 1rem 0!important;
}
.content .posted-date {
    margin-bottom: 1rem;
    text-align: center;
}
.content .title {
    text-align: center;
}
.standalone-news {
    justify-content: center!important;
}
.standalone-news-link {
    display: flex;
    justify-content: center;
}
.iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    height: auto;
    max-height: 325px;

}
#iframeDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-video {
    justify-content: center;
}
.team-title {
    width: 100%;
    text-align: center;
    margin-top: 3em;
}
/* tile */
.styleCustom {
    width: 350px!important;
    max-width: 90vw!important;
    margin-left: 1em!important;
    margin-right: 1em!important;
}
.tiles-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 3em;
}
.sponsor-content-container {
    width: 100%;
    padding-top: 5em;
}
.sponsor-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
    flex-wrap: wrap;
}
.sponsor-tier {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2em;
    width: 100%;
}
.sponsor-card {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    text-align: center;
    margin: 1em;
    border-radius: 10px;
    max-width: 100%;
    background-color: white;
}
.sponsor-content {
    padding: 1em;
}
.sponsor-img img{
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}
.sponsor-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home {
    flex: 1;
    max-width: 85%;
    min-width: 300px;
    background-color: white;
    flex-grow: 0;
}
.diamond {
    width: 325px!important;
    max-width: 95%;
}
.diamond .sponsor-img {
    height: 325px;
    width: 325px;
    max-width: 100%;
}
.platinum {
    width: 300px;
    max-width: 90%;
}
.platinum .sponsor-img {
    height: 300px;
    width: 300px;
    max-width: 100%;
}
.gold {
    width: 275px;
    max-width: 85%;
}
.gold .sponsor-img {
    height: 275px;
    width: 275px;
    max-width: 100%;
}
.silver {
    width: 250px;
    max-width: 80%;
}
.silver .sponsor-img {
    height: 250px;
    width: 250px;
    max-width: 100%;
}
.bronze {
    width: 225px;
    max-width: 75%;
}
.bronze .sponsor-img {
    height: 225px;
    width: 225px;
    max-width: 100%;
}
.nobkgrnd {
    background-color: unset!important;
}
.sponsor-benefits {
    border-radius: 10px;
    padding: 1em;
    background-color: white;
    margin-bottom: 1em;
}
.box-primary {
    background-color: #c5050c;
}
.box-secondary {
    background-color: #9b0000;
}
.content-title {
    text-align: center;
}
.about-badgerloop-container {
    padding: 3em 10em;
}
@media screen and (max-width: 736px) {
    .about-badgerloop-container {
        padding: 2em;
    }
    .cbp_tmicon {
        display: none!important;
    }
    .twitter-timeline {
        width: 90%;
    }
    .announcement-header header {
        font-size: 2rem!important;
    }
    .announcement-header a {
        width: 80%!important;
    }
}

@media screen and (max-width: 1200px) {
    .about-badgerloop-container {
        padding: 3.5em;
    }
}
.mission-statement{
    padding: 2em 0;
}
.featured-story {
    display: flex;
    margin: 1em 0;
    width: 100%;
}
.featured-story img {
    height: 100px;
    width: auto;
    border-radius: 4px;
}
.story-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.story-link a {
    border-bottom: none!important;
    text-decoration: underline;
}
.story-link i {
    align-self: center;
}
.story-source-img {
    display: flex;
    justify-content: center;
    margin-right: .5em;
    width: 100px;
}
input:invalid {
    box-shadow: 0 0 5px 1px red;
  }
  
  input:focus:invalid {
    box-shadow: none;
  }

  #buttonCenter {
      margin: auto;
      text-align: center;
  }

.twitter-timeline-container {
    display: flex;
    justify-content: center;
}
.announcement-header {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.announcement-header a {
    width: 50%;
    margin-top: 5rem;
}
.announcement-header header {
    font-size: 3rem;
    font-weight: 600;
}