.team-lead-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 85vw;
}
.team-lead-card {
    width: 15em;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    text-align: center;
    margin: 1em;
    border-radius: 5px;
}
.team-lead-card img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.team-lead-name {
    font-weight: 600;
    margin-bottom: .5em;
}
.team-lead-text {
    margin-bottom: .5em;
}
.flex-container {
    display: flex;
    justify-content: center;
}
.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form-li {
    width: 100%;
    text-align: center;
}
.form-button {
    width: 50%;
    margin-bottom: 2rem;
}
.form-error {
    border: 1px solid #c5050c!important;
}
.success-message {
    background-color: #4BB543;
}
.failure-message {
    background-color: #c5050c;
}
.alert {
    margin-top: 1em;
    display: flex;
    padding: .8em!important;
    border-radius: .5em;
}
.status-close img {
    width: 10%;
}
.status-close img:hover {
    cursor: pointer;
}
.status-close {
    text-align: right;
}
.status-content {
    font-weight: 400;
}
#contact-form {
    justify-content: center;
}
.goals-container {
    background-color: #ffffff;
    padding: 3em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.goal {
    margin: 1em;
    text-align: center;
    flex: 1;
    min-width: 400px;
}
.check-error {
    border: 1px solid #c5050c!important;
    border-radius: .5em;
}
.team-checkboxes {
    padding-left: 1rem;
    padding-top: 1rem;
}
.media-left {
    /* height: 500px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.media-right {
    /* height: 500px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.media-inner {
    width: unset!important;
    max-width: unset!important;
    margin: 0 3rem;
}
.news-piece img{
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
    max-height: 350px;
    object-fit: cover;
}
.news-piece {
    text-align:left;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    width: 80%;
    border-radius: 5px;
    padding: 0!important;
    margin-bottom: 2rem;
}
.news-piece h3 {
    margin-bottom: 0;
    align-self: center;
}
.news-piece .content {
    padding: 1em;
}
.content p {
    margin: 0 0 1rem 0!important;
}
.content .posted-date {
    margin-bottom: 1rem;
    text-align: center;
}
.content .title {
    text-align: center;
}
.standalone-news {
    justify-content: center!important;
}
.standalone-news-link {
    display: flex;
    justify-content: center;
}
.iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    height: auto;
    max-height: 325px;

}
#iframeDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-video {
    justify-content: center;
}
.team-title {
    width: 100%;
}